# LangGraph Configuration
NEXT_PUBLIC_API_URL=http://localhost:2024
NEXT_PUBLIC_ASSISTANT_ID=agent
# Do NOT prefix this with "NEXT_PUBLIC_" as we do not want this exposed in the client.
LANGSMITH_API_KEY=

# Production LangGraph Configuration (quickstart) - Uncomment to use
# NEXT_PUBLIC_ASSISTANT_ID="agent"
# This should be the deployment URL of your LangGraph server
# LANGGRAPH_API_URL="https://my-agent.default.us.langgraph.app"
# This should be the URL of your website + "/api". This is how you connect to the API proxy
# NEXT_PUBLIC_API_URL="https://my-website.com/api"
# LANGSMITH_API_KEY="lsv2_..."

## DATASPARTAN
NEXT_PUBLIC_COMPLIANCE_LIVE_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_HORIZON_SCAN_API_BASE_URL=http://13.61.35.87:8001/api/v1
NEXT_PUBLIC_USE_MOCK_IA=true
NEXT_PUBLIC_USE_MOCK_RP=true
